:root {
  --select-tab-no-select-bg:     #f0f0f0;
  --select-tab-select-bg:        #ffffff;
  --select-tab-hover:            #e0e0e0;
  --black-modal-effect:          #00000075;
  --addItem-content-bg:          #ffffff;
  --close-addItem-button-text:   #ffffff;
  --close-addItem-button-bg:     #2C2C32;
  --close-addItem-button-hover:  #3c3c3c;
  --close-addItem-button-active: #f85a65;
}





.addItem-modal {
  position: fixed; /* Фиксированное позиционирование относительно окна просмотра */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-modal-effect); /* Полупрозрачный черный фон */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: flex;
}

.addItem-content {
  position: relative;
  background-color: var(--addItem-content-bg);
  padding: 20px;
  border-radius: 8px;
  width: 600px; /* Фиксированная ширина */
  height: 500px; /* Фиксированная высота */
  
  display: flex; /* Используем flexbox */
  flex-direction: column; /* Дочерние элементы располагаются в столбце */
}

.addItem-select {
  display: flex;
  justify-content: space-between;  /* распределяем селекты равномерно и прижимаем к левому и правому краю */
  margin-right: -20px; /* Убираем отступ справа */
  margin-left: -20px; /* Убираем отступ слева */
  margin-top: -20px; /* Убираем отступ сверху */
  margin-bottom: 10px;
}

.addItem-select input[type="radio"] {
  display: none; /* Убираем кругляшки select */
}

.addItem-select label {
  padding: 10px;
  flex: 1; /* Равномерно распределяем пространство между вкладками */
  text-align: center; /* Выравниваем текст по центру */
  background-color: var(--select-tab-no-select-bg);
  cursor: pointer;
}

.addItem-select-topic {
  border-radius: 8px 0 0 0;
}

.addItem-select label:hover {
  background-color: var(--select-tab-hover);
}

.addItem-select input[type="radio"]:checked + label {
  background-color: var(--select-tab-select-bg);
}



.close-addItem-button {
  position: absolute;
  top: -15px; /* Сдвигаем кнопку вверх на половину ее высоты */
  right: -15px; /* Сдвигаем кнопку вправо на половину ее ширины */
  width: 40px;
  height: 40px;
  
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;  /* Убираем подчеркивание текста */
  color: var(--close-addItem-button-text);
  text-align: center; /* Выравниваем текст по центру */
  line-height: 38px; /* Выравниваем по вертикали */
  
  background-color: var(--close-addItem-button-bg);
  border-radius: 50%;
  cursor: pointer;
}

.close-addItem-button:hover {
  background-color: var(--close-addItem-button-hover);
}

.close-addItem-button:active {
  background-color: var(--close-addItem-button-active);
}

