@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 0px;
}

header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header > a:hover {
  text-decoration: underline;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 850px;
  min-height: calc(100vh - 85px - 22px);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
}

/* main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
} */



h1 {
  text-align: center;
  margin-top: 0;
}

h3 {
  margin-bottom: 1rem;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.active {
  color: var(--color-active);
  cursor: default;
}


