:root {
  --tree-bg:                    #2C2C32;
  --topic-name-bg:              #eeeeee;
  --question-bg:                #c2c2c2;
  --question-hover:             #f0f0f0;
  --edit-question-button-bg:    #c2c2c2;
  --edit-question-button-hover: #f0f0f0;
  --addItem-button-text:        #ffffff;
  --addItem-button-bg:          #56bbff;
  --addItem-button-hover:       #8ed2ff;
  --addItem-button-active:      #2C2C32;
}

.tree ul {
  list-style-type: none; /* Убираем стандартные элементы списка */
}

.tree div {
  background-color: var(--tree-bg);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  height: calc(79vh); /* 100 - это вся высота интерфейска браузера */
  overflow-y: auto;  /* Эффект прокрутки контента внутри блока */
}

.tree details summary {
  padding: 10px; /* Внутренние отступы для текста */
  margin-bottom: 5px; /* Отступ снизу для разделения прямоугольников */
  background-color: var(--topic-name-bg); /* Цвет фона для заголовков подтем */
  font-weight: bold; /* Выделение заголовков жирным шрифтом */
  border-radius: 10px;  /* сглаживание уголков прямоугольника */
  cursor: pointer; /* Курсор при наведении на заголовок */
}

.tree details > summary::before {
  padding-right: 5px; 
}

.tree span {
  align-items: center; /* Выравниваем элементы по вертикали */
  position: relative;
}

.tree li {
  background-color: var(--question-bg); /* Цвет фона для прямоугольников */
  padding: 10px; /* Внутренние отступы для текста */
  margin-bottom: 5px; /* Отступ снизу для разделения прямоугольников */
  border-radius: 20px; /* сглаживание уголков прямоугольника */
  cursor: pointer; /* Курсор при наведении на подтему */
  margin-right: 45px;
}

.tree li:hover {
  background-color: var(--question-hover); /* Изменяем цвет фона при наведении */
}

.question {
  display: block; /* Делаем кнопку блочным элементом */
  width: 100%; /* Занимает всю доступную ширину элемента <li> */
  height: 100%; /* Занимает всю доступную высоту элемента <li> */
  /* text-decoration: none;  Убираем подчеркивание, так как это ссылка */
}

.edit-question-button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 40px;
  height: 39px;
  background-color: var(--edit-question-button-bg); /* Цвет круглого элемента */
  border-radius: 50%;
  cursor: pointer;
  text-align: center; /* Центрирует текст по горизонтали */
  line-height: 40px;
}

.edit-question-button:hover {
  background-color: var(--edit-question-button-hover); /* Изменяем цвет фона при наведении */
}

.add-item-button {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: var(--addItem-button-text);
  background-color: var(--addItem-button-bg);
  padding: 0px;
  display: block;
  border-radius: 20px;
  text-align: center; /* Центрирует текст по горизонтали */
  line-height: 30px;
  text-decoration: none;  /* Убираем подчеркивание текста */
}

.add-item-button:hover {
  background-color: var(--addItem-button-hover); /* Изменяем цвет фона при наведении */
}

.add-item-button:active {
  background-color: var(--addItem-button-active);
}