:root {
  --selector-field-bg: #4f4f4f;
  --select-label-bg: #c2c2c2;
  --select-label-bg-hover: #eeeeee;
  --select-label-bg-active: #007bff;
  --button-bg: #007bff;
  --button-bg-hover: #0056b3; 
  --button-bg-active: #00ff3c;
}

.addItem-selected-content {
  flex: 1;
}

.addItem-selected-content p {
  margin: 0;
}

.select-parent {
  border-radius: 8px;
  background-color: var(--selector-field-bg);
  
  height: 200px;
  overflow-y: auto;
  display: flex; 
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 10px;
}

.select-parent input[type="radio"] {
  display: none; /* Убираем кругляшки select */
}

.select-parent label {
  width: 100%;
  padding: 5px;
  background-color: var(--select-label-bg);
}

.select-parent label:hover {
  background-color: var(--select-label-bg-hover);
}

.select-parent input[type="radio"]:checked + label {
  background-color: var(--select-label-bg-active);
}

.select-parent-loaded {
  margin-left: -20px
}

.topicName-input textarea {
  width: 100%;
	height: 100px;
	border-radius: 8px;
  resize: none; /* Запрещаем растягивание */
  box-sizing: border-box; /* Учитываем границы и внутренние отступы в расчете ширины */
}

.createItem-button {
  position: absolute;
  bottom: 20px; /* Выравниваем относительно нижней границы */
  left: 50%; /* Размещаем слева на 50% относительно родительского блока */
  transform: translateX(-50%); /* Сдвигаем кнопку на 50% своей собственной ширины влево */
  padding: 10px 20px; /* Примерные значения для визуального выделения кнопки */
  background-color: var(--button-bg); /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  border-radius: 20px; /* Скругляем углы */
  text-decoration: none; /* Убираем подчеркивание */
}

.createItem-button:hover {
  background-color: var(--button-bg-hover); /* Изменяем цвет фона при наведении */
}

.createItem-button:active {
  background-color: var(--button-bg-active); /* Изменяем цвет фона при наведении */
}